
<div *ngIf="warehouse">
    <h2><span jhiTranslate="inventoryApp.warehouse.detail.title">Warehouse</span> {{warehouse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.warehouse.name">Name</span></dt>
        <dd>
            <span>{{warehouse.name}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.warehouse.description">Description</span></dt>
        <dd>
            <span>{{warehouse.description}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.warehouse.address">Address</span></dt>
        <dd>
            <span>{{warehouse.address}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'warehouse/'+ warehouse.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
